extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is the second assignment for CS496 - Mobile and Cloud Software Development
  p It is currently #{date}
  h4 using:
    li nodejs + express
    li jade templating
    li heroku + mongolab app deployment
    li mongodb + mongoose database

  h2 Record to Edit:
  table.table-striped.table.condensed
    thead
      tr
        th ID
        th Name
        th Email
        th Password
        th Gender
        th Admin
    tbody
      each record, i in doc
        tr 
          td #{record._id}
          td #{record.name}
          td #{record.email}
          td #{record.password}
          td #{record.gender}
          td #{record.admin}
  div.alert.alert-info
      strong Status:
      |  #{statusMessage}
  h2 Edit Record for: #{doc[0].name}
  form(method='post', action='/edit/')
    .form-group
      label.sr-only(for='inputName') DO NOT CHANGE ID
      input#inputName.form-control(type='text', name='id', value=doc[0]._id, readonly)
    .form-group
      label.sr-only(for='inputName') Name
      input#inputName.form-control(type='text', name='name', value=doc[0].name)
    .form-group
      label.sr-only(for='inputEmail') Email
      input#inputEmail.form-control(type='email', name='email', value=doc[0].email)
    .form-group
      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password', name='password', value=doc[0].password)
    .form-group
      if doc[0].gender == 'male'
        label.sr-only(for='inputGender') Gender
        input(type='radio', name='gender', value='male', checked='')
        |   Male  
        input(type='radio', name='gender', value='female')
        |   Female  
        input(type='radio', name='gender', value='opted-out')
        |   Opt-Out  
      else if doc[0].gender == 'female'
        label.sr-only(for='inputGender') Gender
        input(type='radio', name='gender', value='male')
        |   Male  
        input(type='radio', name='gender', value='female', checked='')
        |   Female  
        input(type='radio', name='gender', value='opted-out')
        |   Opt-Out  
      else
        label.sr-only(for='inputGender') Gender
        input(type='radio', name='gender', value='male')
        |   Male  
        input(type='radio', name='gender', value='female', checked='')
        |   Female  
        input(type='radio', name='gender', value='opted-out', checked = '')
        |   Opt-Out  
    .form-group
      if doc[0].admin == 'true'
        label.sr-only(for='inputAdmin') Admin
        input(type='checkbox', name='admin', value='true', checked='')
        |   Admin
      if doc[0].admin == undefined
        label.sr-only(for='inputAdmin') Admin
        input(type='checkbox', name='admin', value='true')
        |   Admin
    button.btn.btn-primary.btn-block(type='submit') Save